@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

.dx-datagrid .dx-row:nth-child(even) {
  background-color: #f0f0f0;
}

.dx-datagrid .dx-datagrid-headers .dx-header-row {
  color: black;
  font-weight: bold;
}

.sidebar-item {
  border-width: 2px;
  padding: 4px;
  user-select: none;
  margin-bottom: 5px;

  &&:hover {
    cursor: pointer;
  }
}

.sidebar-item__red {
  border-color: red;
}

.sidebar-item__green {
  border-color: green;
}